<!DOCTYPE html>
<html lang=en>
    <head>
    <title>Math Library</title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h2>Exercise 3.7.1</h2>
        <script>
            //Ask the user for two numbers
            let num1 = Number(prompt("Enter the first number:"));
            let num2 = Number(prompt("Enter the second number:"));

            //Find the largest number
            let largest = Math.max(num1, num2);
            console.log("Largest number:")

            //update





        </script>
    </body>
</html>